*{
  padding:0px;
  margin:0px;
  box-sizing:border-box
}

body{
  background-color:#ececec;
  font-family: 'Roboto', sans-serif; 
}
.has-fixed-footer {
  background: #ffeb3b12;
}
.container{
  max-width:1000px;
  margin:auto;
  padding:0px 20px;
}
#header{
  background-color:white;
  padding:20px 0px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  position: fixed;
    z-index: 10000;
    width: 100%;
}
#header ul{
  list-style-type:none
}
#header a{
  display:block;
  padding:15px;
  color:rgba(43,1,51);
  text-decoration:none;
  font-weight: bold;
  
}
#header nav a:hover,
#header nav a:focus{
  background-color: rgba(0,0,0,.1)
}

#header nav .active a{
  background-color: rgba(0,0,0,.1)
}
#header nav{
  display:flex;
  justify-content: space-between;
align-items:center
}

#header .categories{
  display:flex;


}
#header .logo {
  font-size: 2em;
  padding: 0px;

}

/* book section */
#books-section,
#books-detail{
margin:50px 0px;
}

.section-title{
  padding:20px 0px
}

.books-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap:15px
}
#books-section .book{
  box-shadow: 0px 0px 15px rgba(0,0,0,.1);
  background-color: white;
  text-align:center
}
#books-section .book-img img{
  width:100%;
  height:200px
}

#books-section .book-info{
  padding:10px 
}

#books-section .book-title{
  padding-bottom:10px
}

#books-section .book-author{
  padding-bottom:5px
}

.btn{
  padding:15px;
  border:none;
  outline:none;
  cursor:pointer;
  margin:20px 0px;
  opacity:0.9;
  text-decoration: none;
  display:inline-block
}
.btn:hover,
.btn:focus{
  opacity: 1;
}
.btn-highlight{
background-color:#607D8B;
color:white
}
#books-detail .container{
  padding-top:80px
}
/* #books-detail .book-container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:20px
} */
#books-detail .book-title{
padding-bottom:15px;
}

#books-detail .book-author{
  padding-bottom:10px;
  }
  #books-detail .book-img img{
    max-width:100%;

  } 

  #books-detail .book-review-container{
   font-size:1.2em;
  
  }
  #books-detail .book-stars{
   color:rgb(199,199,33);
   }
 
  #footer{
    background-color:skyblue;
    text-align: center;
    color:white;
    font-size:1.1em;
    padding:20px;
    margin-top:auto
  }
  .has-fixed-footer{
    min-height:100vh;
    display: flex;
    flex-direction: column
  }

  .loader {
    
    margin:200px auto;
    text-align:center;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 10px solid black; /* black */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  i.anticon.anticon-bars {
    display:none
}
.imgName{
  padding-top:100px;
  text-align: center
  }
  .imgName img{
    width:100%;
    height:600px;
    
  }


  @media only screen and (max-width:768px){
    .books-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap:30px;
    }
    #books-section .book{
      padding:20px;
    }
    #books-section .book-img img{
      width:100%;
height:250px;

padding: 0px 30px;
    }
    #header .logo {
     display:none
   }
  }
  @media only screen and (max-width:540px){
    .books-container{
      display: grid;
      grid-template-columns: 100%;;
      
    }
    #header .categories{
      display:none
    }

    /* 收納鈕 */
    i.anticon.anticon-bars {
      display:block;
      font-size: 35px;
  }

  #header {
    right: 0;
    width:auto;
}
.categoryBtn{
  position: absolute;
    right: 0;
    top:0
}
.imgName{
text-align: center
}
.imgName img{
  max-width:320px;
  height:400px;

          
}


  }

  
 
  